.section {
    margin-top: 20px;
    padding-bottom: 50px;
    margin: 0 auto;
  }
  
  .transaction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  thead {
    background-color: rgb(0, 179, 255);
    color: white;
  }
  
  tbody {
    color: black;
    text-align: center;
    font-weight: 400;
  }
  
  th,
  td {
    width: 200px;
    height: 40px;
    font-size: 20px;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgb(236, 241, 243);
  }
  